<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../src/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.3/tailwind.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <title>Clubhouse</title>
</head>

<body class="h-screen flex flex-col bg-yellow-50">

    <div class="w-screen bg-yellow-50 p-4">

        <header class="w-full flex justify-between">
            <div class="flex items-center text-lg">
                <span class="w-6 h-6 mr-1">
                    <?xml version="1.0" encoding="iso-8859-1"?>
                    <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
                        viewBox="0 0 451.847 451.847" style="enable-background:new 0 0 451.847 451.847;"
                        xml:space="preserve">
                        <g>
                            <path
                                d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
              c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
              c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z" />
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                        <g>
                        </g>
                    </svg>
                </span> All Rooms
            </div>
            <div class="flex items-center">
                <div class="w-7 h-7 mr-10">
                    <svg width="100%" height="100%" viewBox="0 0 68 85" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M46.9 0H11.384C5.107 0 0 5.107 0 11.384V73.212C0 79.489 5.107 84.596 11.384 84.596H56.446C62.722 84.596 67.829 79.49 67.829 73.212V23.392L46.9 0ZM48.558 10.853L58.119 21.539H48.558V10.853ZM56.444 78.596H11.384C8.415 78.596 6 76.181 6 73.212V11.384C6 8.415 8.415 6 11.384 6H42.559V27.538H61.829V73.212C61.828 76.181 59.413 78.596 56.444 78.596Z"
                            fill="black" />
                    </svg>
                </div>
                <div class="img">
                    <img class="wh-10 h-10 rounded-full"
                        src="https://images.unsplash.com/photo-1511485977113-f34c92461ad9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                        alt="">
                </div>
            </div>
        </header>
            
    </div>
    
    <main class="bg-white w-full shadow px-6 py-4">

        <h1 class="mb-4 p-1">Como crescer no instagram</h1>
        <div class="grid gap-4 grid-cols-3">
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
            <p>lorem</p>
        </div>
        
    </main>

    <footer class=" fixed bottom-0 m-auto p-3 flex items-center justify-between w-full bg-white">

        <button class="rounded-full bg-gray-100 py-1.5 px-4 flex items-center">
            <span class="mt-0.5">✌️</span>
            <span class="text-red-400 ml-2 text-xs">Leave quietly</span>
        </button>
        
        <div class="flex items-center">


            <button class="p-2 rounded-full bg-gray-200 mr-3">
                <img src="../src/images/sumsign.svg">
            </button>

            <button class="p-1.5 rounded-full bg-gray-200">
                <img src="../src/images/hands.svg">
            </button>
        </div>

    </footer>
</body>

</html>